In [ ]:
!pip install --upgrade seaborn

In [ ]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Downloading the dataset
df = pd.read_csv('Jamboree_Admission.csv')

In [ ]:
df.head()

In [53]:
df.shape #The dataset has 500 rows and 9 columns

(500, 9)

In [54]:
df.info() # There are no null values in this dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [55]:
df.describe() #Statistical summary of columns

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [56]:
df['University Rating'].unique()

array([4, 3, 2, 5, 1], dtype=int64)

In [ ]:
# Here the ratings are clean and full set of values ranging from 1 to 5. 
# As the university rating is ordinal, One hot encoding is required.
# As linear regression cannot handle categorical variables.

In [57]:
df[df.duplicated()] #Checking for duplicate rows
df.columns = df.columns.str.strip()

In [58]:
# Exploratory Data Analysis
df = df.drop(['Serial No.'], axis =1)
# Here serial No has no effect on outcome

In [59]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [70]:
# Univariate Analysis
sns.set_theme(style='dark')
def feature_countplot(ax,data,feature,title='Count Plot',xlabel = None, ylabel='Count',palette= 'viridis'):
    sns.countplot(data = data, x= feature,palette = palette,ax=0)
    # Adding title and labels
    ax.set_title(title, fontsize = 16, fontweight = 'bold')
    ax.set_xlabel(xlabel if xlabel else feature,fontsize=14)
    ax.set_ylabel(ylabel,fontsize=14)
    
    #Adding customised ticks
    ax.tick_params(axis='x', labelsize=12)
    ax.tick_params(axis='y', labelsize=12)
    
    #Adding more annotations on top of the bars
    for p in ax.patches:
        ax.annotate(f'{p.get_height})',(p.get_x() + p.get_width()/2., 
                                        p.get_height()),ha = 'center', va='bottom', fontsize=12)
        fig,axs = plt.subplots(2,2, figsize=(15,9))
        fig.subplots

AttributeError: module 'seaborn' has no attribute 'set_theme'